body {
	display: block;
}
#header {
	background-color: #0A369D;
}

#main {
	display: block;
}

#intro {
	background-color: #6891C7; 
}

#education {
	background-color: #4472CA;
}

#work {
	background-color: #FFF;
}

#contact {
	background-color: #92B4F4;
}

#footer {
	background-color: #787878;

}

body {
	margin: 0px;
}

h1 {
	font-weight: bold;
	font-size: 48px;
	font-family: 'Gloria Hallelujah', cursive;
	color: #fff;
	margin: 0px;
	display: inline;
}

h2 {
	font-size: 26px;
	font-weight: bold;
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0px;
}

p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

li {
	font-family: 'Open Sans', sans-serif;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.center2 {
	display: inline;
	margin: auto;

}

div {
	margin: 0 auto;
}

.container {
	width: 950px;
	margin: 0 auto;
}